/.vscode
/.editorconfig
/hcode
/.bash_history
/.bash_logout
/.bashrc
/.cache
/.landscape
/.motd_shown
/.profile
/.sudo_as_admin_successful
/.vscode
/.vscode-server
/*.txt
/*.bin
/*.huffman
/.idea
/CMakeLists.txt
cmake-build-debug
/*.o
*.gch